[submodule "galtsgulch"]
	path = galtsgulch
	url = https://gitlab.com/MayESchaefer/galtsgulch-dredmor-mod.git
[submodule "galtsgulch-meltdown"]
	path = galtsgulch-meltdown
	url = https://gitlab.com/MayESchaefer/galtsgulch-dredmor-mod.git
	branch = meltdown-edition
